<p>counter works!</p>
<h3>Counter: {{ counter }}</h3>
<button class="btn btn-success" (click)="increaseBy(+1)">+1</button>
<button class="btn btn-warning" (click)="reset()">reset</button>
<button class="btn btn-danger" (click)="increaseBy(-1)">-1</button>
