<h3>{{ name }}</h3>
<dl>
  <dt>Nombre:</dt>
  <dd>{{ name }}</dd>

  <dt>Edad:</dt>
  <dd>{{ year }}</dd>

  <dt>Método:</dt>
  <dd>{{ getHeroDescription() }}</dd>

  <dt>Capitalizado:</dt>
  <dd>{{ nameCapitalize }}</dd>
</dl>

<button
  *ngIf="name !== 'Naruto'"
  class="btn btn-primary"
  (click)="changeName()"
>
  Cambiar nombre
</button>

<button *ngIf="year !== 22" class="btn btn-primary mx-2" (click)="changeYear()">
  Cambiar edad
</button>
