<p>Listado de héroes</p>

<div *ngIf="heroNames.length !== 0; else noDelete">
  <p>
    Héroe borrado <span class="text-danger">{{ deleteHero }}</span>
  </p>
</div>

<ng-template #noDelete>
  <p *ngIf="heroNames">No se borro</p>
</ng-template>

<button class="btn btn-danger mb-3" (click)="deleteHeroNames()">
  Borrar ultimo héroe
</button>

<ul class="list-group">
  <li *ngFor="let item of heroNames" class="list-group-item">{{ item }}</li>
</ul>
